<html>
<head>

</head>


<body>
    <h1>Admin Control : </h1>
<form class="indeed" action="/indeed" method="post"> 
<input value="indeed" type="submit" onclick="window.open('http://localhost:3001/crawl.json?start_requests=true&spider_name=indeed')">
</form>
<form class="linkedin" action="/linkedin" method="post">
    <input value="indeed" type="submit" onclick="window.open('http://localhost:3000/crawl.json?start_requests=true&spider_name=jobSpider')">
</form>

</body>

    </html> 